<%= render :partial => 'common/header' %>

<div class="content shops shops-index common-cardlist">
  <ul class="table-view no-border">
    <% @shops.each do |shop| %>
      <%= render :partial => 'shops/listitem', :locals => { shop: shop } %>   
    <% end %>
  </ul>
</div>


<%= render :partial => 'common/nav', :locals => { section: 'shops' } %>