<%= render :partial => 'common/header', :locals => { :back_left => true, :section => 'shops' } %>


<div class="content">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @shop.name %>
  </p>

  <p>
    <strong>Description detail:</strong>
    <%= @shop.description_detail %>
  </p>
</div>

