<%= render :partial => 'common/header', :locals => { :back_left => true, :section => 'shops' } %>


<div class="content common-show plr10">
  <header class="mt10 mb10">
    <h1 class="common-heading">
      <%= @shop.name %>
    </h1> 
  </header>
  
  <div class="feature-img-wrap">
    <%= image_tag @shop.feature_image.url(:middle), :class => 'feature-img' %>
  </div>

  <p>
    <%= @shop.description_detail %>
  </p>
</div>

