<%= render :partial => 'common/header' %>

<div class="content coupons coupons-index common-cardlist">
  <ul class="table-view  no-border">
    <% @coupons.each do |coupon| %>
      <%= render :partial => 'coupons/listitem', :locals => { coupon: coupon } %>
    <% end %>
  </ul>
</div>


<%= render :partial => 'common/nav', :locals => { section: 'coupons' } %>