.disp-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-hint {
  color: #e8e8e8;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none;
}

.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mt5 {
  margin-top: 5px;
}

.mt60 {
  margin-top: 60px;
}

.pt100 {
  padding-top: 100px !important;
}